<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
        
	<bean id = "adrs" class = "SpringCore.Address"/>
	
	<bean id="emp" class="SpringCore.Employee">
	<property name="name" value = "janani"></property>
	<!-- 	<property name="adrs">
			<bean class = "SpringCore.Address" />
		</property>  -->
		
		<property name="adrs" ref = "adrs"></property>
	</bean>
	
	<bean id="emp1" class="SpringCore.Employee">
	<property name="name" value = "siddhu"></property>
		<!-- <property name="adrs">
			<bean class = "SpringCore.Address" />
		</property>  -->
		
		<property name="adrs" ref = "adrs"></property>
	</bean>
</beans>